
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <h3>About Us</h3>
            <p>At ShortCast, we bring you the best in short-form podcast content. Whether you're on the go or just want to tune into a quick, insightful episode, we're here to keep you connected. Join our community and stay informed with fresh podcasts at your fingertips</p>
          </div>
          <div class="col-lg-3 mx-auto">
            <h3>Navigation</h3>
            <ul class="list-unstyled">

              <li><a href="{{ url_for("views.podcast") }}">Podcasts</a></li>
                 <li><a href="{{ url_for("views.episode") }}">Episodes</a></li>
                <li><a href="{{ url_for("views.create_podcast") }}">Create Podcast</a></li>
              <li><a href="{{ url_for("views.create_episode") }}">Create Episode</a></li>
                <li><a href="{{ url_for("views.live_podcast") }}">Live Podcasts</a></li>
              <li><a href="{{ url_for("views.about") }}">About Us</a></li>
              <li><a href="{{ url_for("views.contact") }}">Contact</a></li>
            </ul>
          </div>
          <div class="col-lg-4">
            <h3>Subscribe</h3>
            <p>Stay updated with the latest content! Subscribe now and never miss an episode!</p>
            <form action="#" class="form-subscribe">
              <input type="email" class="form-control mb-3" placeholder="Enter Email">
              <input type="submit" class="btn btn-primary" value="Subscribe">
            </form>
          </div>
        </div>

        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
          
        </div>
      </div>
    </footer>
  </div>
<script>
  // Wait for the DOM to load
  document.addEventListener('DOMContentLoaded', function () {
    const flashMessages = document.getElementById('flash-messages');
    if (flashMessages) {
      // Set a timeout to remove the messages after 5 seconds (5000 ms)
      setTimeout(() => {
        flashMessages.style.transition = 'opacity 0.5s';
        flashMessages.style.opacity = '0'; // Fade out
        setTimeout(() => flashMessages.remove(), 500); // Remove from DOM after fade-out
      }, 5000); // 5-second delay
    }
  });
</script>

  <script src="/static/js/jquery-3.3.1.min.js"></script>
  <script src="/static/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/static/js/jquery-ui.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/owl.carousel.min.js"></script>
  <script src="/static/js/jquery.stellar.min.js"></script>
  <script src="/static/js/jquery.countdown.min.js"></script>
  <script src="/static/js/jquery.magnific-popup.min.js"></script>
  <script src="/static/js/aos.js"></script>

  <script src="/static/js/mediaelement-and-player.min.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var mediaElements = document.querySelectorAll('video, audio'), total = mediaElements.length;

      for (var i = 0; i < total; i++) {
        new MediaElementPlayer(mediaElements[i], {
          pluginPath: 'https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/',
          shimScriptAccess: 'always',
          success: function () {
            var target = document.body.querySelectorAll('.player'), targetTotal = target.length;
            for (var j = 0; j < targetTotal; j++) {
              target[j].style.visibility = 'visible';
            }
          }
        });
      }
    });
  </script>


  <script src="/static/js/main.js"></script>
