 <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-4" role="banner">

      <div class="container">
        <div class="row align-items-center">


          <div class="col-3">
            <h1 class="site-logo"><a href="{{ url_for("views.index") }}" class="h2">Shortcast<span class="text-primary">.</span> </a></h1>
          </div>
          <div class="col-9">
            <nav class="site-navigation position-relative text-right text-md-right" role="navigation">



              <div class="d-block d-lg-none ml-md-0 mr-auto"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li class="{% if request.endpoint == 'views.index' %}active{% endif %}">
                  <a href="{{ url_for("views.index") }}">Home</a>
                </li>

             <li class="has-children {% if request.endpoint in ['views.create_podcast', 'views.create_episode'] %}active{% endif %}">
                <a href="#">Create</a>
                 <ul class="dropdown arrow-top">
                    <li class="{% if request.endpoint == 'views.create_podcast' %}active{% endif %}">
                        <a href="{{ url_for('views.create_podcast') }}">Podcast</a>
                    </li>
                     <li class="{% if request.endpoint == 'views.create_episode' %}active{% endif %}">
                        <a href="{{ url_for('views.create_episode') }}">Episode</a>
                    </li>
                </ul>
            </li>






               <li class="has-children {% if request.endpoint in ['views.about', 'views.contact'] %}active{% endif %}">
                <a href="#">Info</a>
                 <ul class="dropdown arrow-top">
                    <li class="{% if request.endpoint == 'views.about' %}active{% endif %}">
                        <a href="{{ url_for('views.about') }}">About</a>
                    </li>
                     <li class="{% if request.endpoint == 'views.contact' %}active{% endif %}">
                        <a href="{{ url_for('views.contact') }}">Contact</a>
                    </li>
                </ul>
            </li>


               <li class="has-children {% if request.endpoint in ['views.podcast', 'views.live_podcast'] %}active{% endif %}">
                <a href="#">Browse</a>
                 <ul class="dropdown arrow-top">
                    <li class="{% if request.endpoint == 'views.podcast' %}active{% endif %}">
                        <a href="{{ url_for('views.podcast') }}">Podcast</a>
                    </li>
                     <li class="{% if request.endpoint == 'views.live_podcast' %}active{% endif %}">
                        <a href="{{ url_for('views.live_podcast') }}">Live Podcast</a>
                    </li>
                </ul>
            </li>


                  {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for("views.create_playlist") }}">Create playlist</a></li>
                       <img src="{{ current_user.profile_image_url|safe }}" alt="User Avatar" class="rounded-circle" width="60" height="60">
                  {% else %}
                <li class="{% if request.endpoint == 'views.login' %}active{% endif %}"><a href="{{ url_for("views.login") }}">Login / Register</a></li>
                  {% endif %}

                <li class="{% if request.endpoint == 'views.logout' %}active{% endif %}">
                    <a href="{{ url_for('views.logout') }}">Logout</a>
                </li>


              </ul>


            </nav>


          </div>

        </div>
      </div>

    </header>


