<form action="{{ url_for('views.email_route') }}" method="post" class="site-block-subscribe">
    <div class="input-group mb-3">
        {{ email_form.hidden_tag() }}
        <!-- Form Input for Email -->
        <input type="email" name="email" class="form-control border-secondary text-white bg-transparent"
               placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2" required>

        <!-- Submit Button -->
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit" id="button-addon2">Send</button>
        </div>
    </div>
</form>
