   <div class="row mb-5">
                    <div class="col-md-12 text-center">
                        <!-- Search bar -->
                        <form method="GET" action="{{ url_for('views.podcast') }}">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Search</span>
                                </div>
                                <input type="text" class="form-control" name="title" value="{{ request.args.get('title', '') }}" placeholder="Search by Title">
                            </div>

                            <!-- Dropdown for Filter Criteria -->
                            <div class="dropdown mt-4">
                                <button class="btn btn-primary dropdown-toggle bg-dark" type="button" id="filterDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Filter by Criteria
                                </button>
                                <div class="dropdown-menu custom-dropdown" aria-labelledby="filterDropdown">
                                    {% for category in categories %}
                                        <a class="dropdown-item" href="?category={{ category }}">By Category: {{ category }}</a>
                                    {% endfor %}
                                    <a class="dropdown-item" href="?">Clear Filters</a>
                                </div>
                            </div>

                            <!-- Collapsible Filter Section -->
                            <div class="mt-3">
                                <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#filterSection" aria-expanded="false" aria-controls="filterSection">
                                    Toggle Filters
                                </button>
                                <div class="collapse" id="filterSection">
                                    <div class="mt-3">
                                        <label for="min_duration">Min Duration (mins):</label>
                                        <input type="number" name="min_duration" id="min_duration" class="form-control" value="{{ request.args.get('min_duration', '') }}" placeholder="Min Duration">
                                    </div>
                                    <div class="mt-3">
                                        <label for="max_duration">Max Duration (mins):</label>
                                        <input type="number" name="max_duration" id="max_duration" class="form-control" value="{{ request.args.get('max_duration', '') }}" placeholder="Max Duration">
                                    </div>
                                    <div class="mt-3">
                                        <label for="start_date">Start Date:</label>
                                        <input type="date" name="start_date" id="start_date" class="form-control" value="{{ request.args.get('start_date', '') }}">
                                    </div>
                                    <div class="mt-3">
                                        <label for="end_date">End Date:</label>
                                        <input type="date" name="end_date" id="end_date" class="form-control" value="{{ request.args.get('end_date', '') }}">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3 bg-dark">Apply Filters</button>
                        </form>

                        <h2 class="font-weight-bold text-black mt-5">Podcasts</h2>
                    </div>
                </div>
