
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <h3>About Us</h3>
            <p>At ShortCast, we bring you the best in short-form podcast content. Whether you're on the go or just want to tune into a quick, insightful episode, we're here to keep you connected. Join our community and stay informed with fresh podcasts at your fingertips</p>
          </div>
          <div class="col-lg-3 mx-auto">
            <h3>Navigation</h3>
            <ul class="list-unstyled">

              <li><a href="{{ url_for("views.podcast") }}">Podcasts</a></li>
                 <li><a href="{{ url_for("views.episode") }}">Episodes</a></li>
                <li><a href="{{ url_for("views.create_podcast") }}">Create Podcast</a></li>
              <li><a href="{{ url_for("views.create_episode") }}">Create Episode</a></li>
                <li><a href="{{ url_for("views.live_podcast") }}">Live Podcasts</a></li>
              <li><a href="{{ url_for("views.about") }}">About Us</a></li>
              <li><a href="{{ url_for("views.contact") }}">Contact</a></li>
            </ul>
          </div>
          <div class="col-lg-4">
            <h3>Subscribe</h3>
            <p>Stay updated with the latest content! Subscribe now and never miss an episode!</p>
                    {% include 'partials/_email_form.html' %}
          </div>
        </div>

        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>

              Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved

            </p>
          </div>
          
        </div>
      </div>
    </footer>
